<!-- Navigation bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand py-0 d-inline-block align-center" href="./home">
    Car Register
  </a>
  <!-- Links left side -->
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="./car-table">
        <span class="fas fa-list-ul text-secondary"></span>
        Car Table
      </a>
    </li>
  </ul>
  <!-- Links right side -->
  <ul class="navbar-nav ms-auto">
    <li class="nav-item" *ngIf="loggedIn">
      <a class="nav-link" (click)="logout()" href="javascript:void(0);">
        <span class="fas fa-sign-out-alt text-secondary"></span>
        Logout
      </a>
    </li>
    <li class="nav-item" *ngIf="!loggedIn">
      <a class="nav-link" href="./login">
        <span class="fas fa-sign-in-alt text-secondary"></span>
        Login
      </a>
    </li>
    <li class="nav-item" *ngIf="!loggedIn">
      <a class="nav-link" href="./signup">
        <span class="fas fa-clipboard-list text-secondary"></span>
        Sign Up
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>